html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    background: #2c4762;
}

body, input {
    font: 12px Arial, sans-serif;
}

#top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#header {
    float: left;
    font-size: 1em;
    background: url(/img/header.png) no-repeat 0 0;
    display: block;
    width: 12.167em;
    height: 2em;
    text-indent: -9999em;
    overflow: hidden;
    margin: 0.5em;
}

#login {
    float: right;
    margin: 0.5em;
}

#login a {
    color: #fff;
    text-decoration: none;
    padding-top: 0.5em;
}

#login img {
    border-radius: 0.5em;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 0.5em;
}

#chatbox {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    padding: 3em 0.5em;
    width: 100%;
    height: 100%;
}

#chat {
    background: #fff;
    border-radius: 0.5em;
    height: 100%;
    overflow: auto;
}

#chat div {
    padding: 0.5em;
}

#chat img {
    margin-right: 0.5em;
    border-radius: 0.25em;
    vertical-align: middle;
}

#chat a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#chat p {
    padding: 0.5em; 
    margin: 0;
}

#chat p:nth-child(odd) {
    background: #F6F6F6;
}

#form {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
}

#text {
    -webkit-box-sizing: border-box;
    outline: none;
    border-radius: 0.5em;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    background: #fff;
    border: none;
    height: 2em;
}