html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    background: #2c4762;
}

body, input {
    font: 12px Arial, sans-serif;
}

#top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#header {
    float: left;
    font-size: 1em;
    background: url(/img/header.png) no-repeat 0 0;
    display: block;
    width: 12.167em;
    height: 2em;
    text-indent: -9999em;
    overflow: hidden;
    margin: 0.5em;
}

#count {
    font-size: 0.833em;
    float: left;
    background: #e53f29;
    margin: 0.6em 0.6em 0.6em 0;
    padding: 0.3em 0.6em;
    font-weight: bold;
    color: #fff;
    border-radius: 0.3em;
    min-width: 1em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#login {
    float: right;
    margin: 0.75em;
}

#login a {
    color: #fff;
    text-decoration: none;
    padding-top: 0.5em;
}

#login img {
    border-radius: 0.5em;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 0.5em;
}

#usersbox {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    padding: 3em 0 3em 0.5em;
    width: 15%;
    height: 100%;
}

    #users {
        background: #fff;
        border-radius: 0.5em;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

        #users div {
            width: 400px;
            padding: 0.5em;
        }

        #users img {
            margin-right: 0.5em;
            border-radius: 0.25em;
            vertical-align: middle;
        }

        #users a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        #users div:nth-child(odd) {
            background: #F6F6F6;
        }

#chatbox {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    padding: 3em 0.5em;
    width: 85%;
    height: 100%;
}

#chat {
    background: #fff;
    border-radius: 0.5em;
    height: 100%;
    overflow: auto;
}

#chat div {
    padding: 0.5em;
}

#chat img {
    margin-right: 0.5em;
    border-radius: 0.25em;
    vertical-align: middle;
}

#chat a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


#chat div:nth-child(odd) {
    background: #F6F6F6;
}

#chat div.status {
    opacity: 0.25;
}

#chat div.personal {
    background: #FFF2F2;
}

#chat div.personal:nth-child(odd) {
    background: #FFE5E5;
}

#form {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
}

#text {
    -webkit-box-sizing: border-box;
    outline: none;
    border-radius: 0.5em;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    background: #fff;
    border: none;
    height: 2em;
}
