[submodule "connect"]
	path = node/connect
	url = git://github.com/senchalabs/connect.git
[submodule "node/socketconnect"]
	path = node/socketconnect
	url = git://github.com/bnoguchi/Socket.IO-connect.git
