html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    background: #2c4762;
}

body, input {
    font: 12px Arial, sans-serif;
}

#top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#header {
    float: left;
    font-size: 1em;
    background: url(/img/header.png) no-repeat 0 0;
    display: block;
    width: 12.167em;
    height: 2em;
    text-indent: -9999em;
    overflow: hidden;
    margin: 0.5em;
}

#count {
    font-size: 0.833em;
    float: left;
    background: #e53f29;
    margin: 0.6em 0.6em 0.6em 0;
    padding: 0.3em 0.6em;
    font-weight: bold;
    color: #fff;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    min-width: 0.6em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#notice {
    float: left;
    padding: 0.9em 0 0 0.25em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.topbuttons, .toplink {
    float: right;
    display: block;
    padding: 0.333em 0.5em 0.167em 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    min-width: 1em;
    height: 1.5em;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    text-align: center;
}

    .topbuttons:hover, .toplink:hover {
        background: rgba(255, 255, 255, 0.35);
    }

#login, .login {
    padding: 0.333em 0.5em;
    height: 1.333em;
}

#login img, .login img {
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: -0.25em;
    margin-right: 0.25em;
    margin-top: -0.167em;
}

#usersbox {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3em 0 0 0.5em;
    width: 20%;
    height: 66%;
}

    #users {
        background: #fff;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

        #users div, #rooms div {
            width: 400px;
            padding: 0.5em;
        }

        #users img {
            margin-right: 0.5em;
            border-radius: 0.25em;
            -moz-border-radius: 0.25em;
            vertical-align: middle;
        }

        #users a, #rooms a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        #users div:nth-child(odd), #rooms div:nth-child(even) {
            background: #F6F6F6;
        }

        #users div.personal, #rooms div.op {
            background: #FFF2F2;
        }

        #users div.personal:nth-child(odd), #rooms div.op:nth-child(odd) {
            background: #FFE5E5;
        }

        #users div.idle {
            opacity: 0.5;
        }

        #users div.op a {
            color: #E53F29;
        }

        #users div.ignore {
            opacity: 0.25;
        }

#roomsbox {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0.5em 0 3em 0.5em;
    width: 20%;
    height: 34%;
}

    #roomadd {
        padding: 0.5em;
    }

        #roomadd input {
            -webkit-border-radius: 0.25em;
            -moz-border-radius: 0.25em;
            border: 1px solid #ccc;
            padding: 0.25em;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

    #rooms {
        background: #fff;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

        #rooms sup {
            margin-right: 0.5em;
            width: 1.333em;
            height: 1.333em;
            display: inline-block;
            text-align: center;
            font-size: 0.833em;
            vertical-align: text-top;
            overflow: hidden;
        }

#chatbox {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3em 0.5em;
    width: 80%;
    height: 100%;
}

    #chat {
        background: #fff;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

        #chat div {
            padding: 0.5em;
        }

        #chat img {
            margin-right: 0.5em;
            border-radius: 0.25em;
            -moz-border-radius: 0.25em;
            vertical-align: middle;
        }

        #chat a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }


            #chat div:nth-child(odd) {
                background: #F6F6F6;
            }

            #chat div.status {
                opacity: 0.5;
            }

            #chat div.personal {
                background: #FFF2F2;
            }

            #chat div.personal:nth-child(odd) {
                background: #FFE5E5;
            }

            #chat a.op, #rooms div.op a, #chat div.op {
                color: #E53F29;
                background: inherit;
            }

            #chat div.op {
                font-weight: bold;
                padding-top: 0;
            }

            #chat span a {
                color: #2C4762;
            }

        #chat .divider {
            background: #2C4762;
            display: block;
        }

        #chat .bottom {
            background: #ffffff;
            border-radius: 0 0 0.5em 0.5em;
            -moz-border-radius: 0 0 0.5em 0.5em;
            display: block;
            height: 0.5em;
        }

        #chat .top {
            background: #ffffff;
            margin-top: 0.5em;
            border-radius: 0.5em 0.5em 0 0;
            -moz-border-radius: 0.5em 0.5em 0 0;
            display: block;
            height: 0.5em;
        }



#form {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    background: #fff;
    border: none;
    height: 2em;
}

.ui-dialog {
    background: rgba(0, 0, 0, 0.10);
    padding: 1em;
    border: none;
}

.ui-dialog-titlebar, .ui-dialog .ui-dialog-content {
    background: rgba(255, 255, 255, 0.97);
    color: #333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
    border: none;
}

.ui-dialog .ui-dialog-titlebar {
    border-radius: 0.25em 0.25em 0 0;
    -moz-border-radius: 0.25em 0.25em 0 0;
    padding: 1em;
}

.ui-dialog .ui-dialog-content {
    border-radius: 0 0 0.25em 0.25em;
    -moz-border-radius: 0 0 0.25em 0.25em;
    line-height: 1.5em;
    padding: 0 1em 1em;
}

.ui-dialog .ui-dialog-titlebar-close {
    right: 1em;
}

.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border: none;
    margin: 0;
    padding: 0 1em 1em;
    text-align: left;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0 0 0.5em;
}

.page {
    display: none;
}

#loading {
    background: #2c4762;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#loading-pulse {
    background: url(/img/logo.png) no-repeat 50% 50%;
    width: 100%;
    height: 100%;
}

#dialog ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#dialog li {
    float: left;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.333em 0.5em 0.167em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
}

#dialog li a {    
    text-decoration: none;
}

#button-creator {
    background: #e53f29;
}

/* PHONES AND TABLETS */

@media all and (max-device-width: 481px) {
    body {
        -webkit-text-size-adjust: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    #notice, .topbuttons, .toplink, #usersbox {
        display: none;
    }

    #chatbox {
        width: 100%;
        clear: both;        
    }
}