html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    background: #444;
}

body, input {
    font: 12px Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(128, 128, 128, 0.15);
}

#top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#header {
    float: left;
    font-size: 1em;
    background: url(/img/header.png) no-repeat 0 0;
    display: block;
    width: 12.167em;
    height: 2em;
    text-indent: -9999em;
    overflow: hidden;
    margin: 0.5em;
}

#count {
    font-size: 0.833em;
    float: left;
    background: #e53f29;
    margin: 0.6em 0.6em 0.6em 0;
    padding: 0.3em 0.6em;
    font-weight: bold;
    color: #fff;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    min-width: 0.6em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#notice {
    float: left;
    padding: 0.9em 0 0 0.25em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.topbuttons, .toplink, .topicon {
    float: right;
    display: block;
    padding: 0.333em 1em;
    height: 1.167em;
    margin: 0.5em 0.5em 0.5em 0;    
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.10);
    border-bottom: 1px solid rgba(255,255,255,0.10);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), to(rgba(255,255,255,0.15)));
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

    .topbuttons:hover, .toplink:hover {
        background: rgba(255, 255, 255, 0.35);
    }
    
    .topicon {
        text-indent: -9999em;
        padding: 0.25em 0.25em 0.333em;
    }
    
    .ui-button-icon-only {
        width: 1.5em;
    }

#login, .login {
    padding: 0.333em 0.5em;
    height: 1.333em;
}

#login img, .login img, .topbuttons img, .toplink img {
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: -0.25em;
    margin-right: 0.25em;
    margin-top: -0.167em;
}

#usersbox {
    overflow: hidden;
    height: 66%;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

    #users {
        background: #fff;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

        #users div, #rooms div {
            width: 400px;
            padding: 0.5em;
        }

        #users img {
            margin-right: 0.5em;
            border-radius: 0.25em;
            -moz-border-radius: 0.25em;
            vertical-align: middle;
        }

        #users a, #rooms a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        #users div:nth-child(odd), #rooms div:nth-child(even) {
            background: #F6F6F6;
        }

        #users div.personal, #rooms div.op {
            background: #FFF2F2;
        }

        #rooms div.featured a {
            color: #E53F29;
        }

        #users div.personal:nth-child(odd), #rooms div.op:nth-child(odd) {
            background: #FFE5E5;
        }

        #users div.idle {
            opacity: 0.5;
        }

        #users div.op a {
            color: #E53F29;
        }

        #users div.ignore {
            opacity: 0.25;
        }

#roomsbox {
    overflow: hidden;
    height: 34%;
    margin-right: 0.5em;
}

    #roomadd {
        padding: 0.5em;
    }

        #roomadd input {
            box-sizing: border-box;
            border-radius: 0.25em;
            border: 1px solid #ccc;
            padding: 0.25em;
            width: 100%;
        }

    #rooms {
        background: #fff;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

        #rooms sup {
            margin-right: 0.5em;
            width: 1.333em;
            height: 1.333em;
            display: inline-block;
            text-align: center;
            font-size: 0.833em;
            vertical-align: text-top;
            overflow: hidden;
        }

#section-top {
    padding: 3em 0.5em 3em;
    height: 100%;
}

#section-top-left {
    width: 20%;
    height: 100%;
    float: left;
}

#section-top-right {
    width: 80%;
    float: right;
    height: 100%;
}

#chatbox {
    overflow: hidden;
    height: 100%;
}

    #chat {
        background: #fff;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

        #chat div {
            padding: 0.5em;
        }

        #chat img {
            margin-right: 0.5em;
            border-radius: 0.25em;
            -moz-border-radius: 0.25em;
            vertical-align: middle;
        }

        #chat a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }


            #chat div:nth-child(odd) {
                background: #F6F6F6;
            }

            #chat div.status {
                opacity: 0.5;
            }

            #chat div.personal {
                background: #FFF2F2;
            }

            #chat div.personal:nth-child(odd) {
                background: #FFE5E5;
            }

            #chat a.op, #chat div.op {
                color: #E53F29;
                background: inherit;
            }

            #chat div.op {
                font-weight: bold;
                background: #FFF2F2;
            }

            #chat span a {
                color: #444;
            }

        #chat .divider {
            background: #444;
            display: block;
        }

        #chat .bottom {
            background: #ffffff;
            border-radius: 0 0 0.5em 0.5em;
            -moz-border-radius: 0 0 0.5em 0.5em;
            display: block;
            margin-bottom: 0.5em;
            height: 0.5em;
        }

        #chat .top {
            background: #ffffff;            
            border-radius: 0.5em 0.5em 0 0;
            -moz-border-radius: 0.5em 0.5em 0 0;
            display: block;
            height: 0.5em;
        }



#form {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    height: 2.5em;
}

#text {
    outline: none;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    background: #fff;
    border: none;
    height: 1.5em;
}

.ui-dialog {
    padding: 1em;
    background: #f5f5fff;
    border: 2px solid white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 10px rgba(29, 35, 41, 0.6);
    -moz-box-shadow: 0px 1px 10px rgba(29, 35, 41, 0.6);
    box-shadow: 0px 1px 10px rgba(29, 35, 41, 0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    letter-spacing: 0.05em;
}

.ui-dialog-titlebar, .ui-dialog .ui-dialog-content {
    background: none;
    color: #333;    
    border: none;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
    padding-bottom: 0.5em;
}

.ui-dialog .ui-dialog-content {    
    line-height: 1.5em;
    padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    top: 0;
    right: 0;
    margin: 0;
    background: #ddd;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.25em;
}

.ui-dialog-content a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
    border: none;
    padding: 0.25em;
}

.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0 0 0.5em;
}

.page {
    display: none;
}

#loading {
    background: #444;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#loading-pulse {
    background: url(/img/logo.png) no-repeat 50% 50%;
    width: 100%;
    height: 100%;
}

#dialog ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#dialog li {
    float: left;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.333em 0.5em 0.167em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
}

#dialog li a {    
    text-decoration: none;
}

#button-creator {
    background: #e53f29;
    background: -webkit-gradient(linear, left top, left bottom, from(#e53f29), to(#db3c27));    
}

/* PHONES AND TABLETS */

@media all and (max-device-width: 481px) {
    body {
        -webkit-text-size-adjust: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    #notice, .toplink, section-top-left, #button-help {
        display: none;
    }

    #section-top-right {
        width: 100%;
        clear: both;        
    }
}

.left {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

.night body {
    background: #000;
}

.night #users, .night #rooms, .night #chat, .night #chat .top, .night #text, .night #roomadd input, .night #chat .bottom {
    background: #0c0c0c;
    color: #eee;
}

.night #roomadd input {
    border-color: #111;
}

.night #chat a, .night #users a, .night #rooms a {
    color: #ccc;
}

.night #chat a.op, .night #chat div.op {
    color: #E53F29;
}

.night #chat div:nth-child(odd), .night #users div:nth-child(odd), .night #rooms div:nth-child(even) {
    background: #111;
}

.night #chat div.personal, .night #users div.personal, .night #rooms div.op, .night #chat div.op {
    background: #060a0d;
}

.night #chat div.personal:nth-child(odd), .night #users div.personal:nth-child(odd), .night #rooms div.op:nth-child(odd) {
    background: #0d131a;
}

.night {
    scrollbar-face-color: #333;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #fff;
    scrollbar-highlight-color: #333;
    scrollbar-3dlight-color: #444;
    scrollbar-shadow-color: #222;
    scrollbar-darkshadow-color: #111;
}