html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    background: #444;
}

body, input {
    font: 12px Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(128, 128, 128, 0.15);
}

#top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#header {
    float: left;
    font-size: 1em;
    background: url(/img/header.png) no-repeat 0 0;
    display: block;
    width: 11.5em;
    height: 2em;
    text-indent: -9999em;
    overflow: hidden;
    margin: 0.5em;
}

#count {
    font-size: 0.833em;
    float: left;
    background: #e53f29;
    margin: 0.6em 0.6em 0.6em 0;
    padding: 0.3em 0.6em;
    font-weight: bold;
    color: #fff;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    min-width: 0.6em;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#notice {
    float: left;
    padding: 0.9em 0 0 0.25em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.topbuttons, .toplink, .topicon {
    float: right;
    display: block;
    padding: 0.25em 0.75em 0.333em 0.75em;
    height: 1.167em;
    margin: 0.5em 0.5em 0.5em 0;    
    color: #ededed;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.10);
    background: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

    .topbuttons:hover, .toplink:hover {
        color: #fff;
    }
    
    .topicon {
        text-indent: -9999em;
        padding: 0.25em 0.25em 0.333em;
    }
    
    .ui-button-icon-only {
        width: 1.5em;
    }

#login, .login {
    padding: 0.333em 0.5em;
    height: 1.333em;
}

#login img, .login img, .topbuttons img, .toplink img {
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: -0.25em;
    margin-right: 0.25em;
    margin-top: -0.25em;
}

#usersbox {
    overflow: hidden;
    height: 66%;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;    
}

    #users {
        background: #fff;
        min-height: 100%;
    }

        #users div, #rooms div {            
            padding: 0.5em;
            border-bottom: 1px solid rgb(240,240,240);
        }

        #users img {
            margin-right: 0.5em;
            border-radius: 0.25em;
            -moz-border-radius: 0.25em;
            vertical-align: middle;
        }

        #users a, #rooms a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
            vertical-align: middle;
        }

        #users div.personal, #rooms div.op {
            background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 100%);
            background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 100%);
            background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 100%);
            border-bottom: 1px solid rgb(220,220,220);
        }

        #rooms div.featured a {
            color: #E53F29;
        }
        
        #users div.idle {
            opacity: 0.5;
        }

        #users div.op a, #chat a.op {
            color: #36a3d9;
        }
        
        #users div.personal a {
            color: #6EBF1C;
        }

        #users div.ignore {
            opacity: 0.25;
        }

#roomsbox {
    overflow: hidden;
    height: 34%;
    margin-right: 0.5em;
    border-radius: 0.25em;
}

    #roomadd {
        padding: 0.5em;
    }

        #roomadd input {
            box-sizing: border-box;
            border-radius: 0.25em;
            border: 1px solid #ccc;
            padding: 0.25em;
            width: 100%;
        }

    #rooms {
        background: #fff;
        min-height: 100%;
        overflow: hidden;
        width: auto;
    }
    
        #rooms .ui-icon, #chat div.op .ui-icon {
            float: left;
            margin-right: 0.5em;
        }

        #rooms sup {
            float: right;
            width: 1.333em;
            height: 1.333em;
            display: inline-block;
            text-align: center;
            font-size: 0.833em;
            vertical-align: text-top;
            overflow: hidden;
        }

#section-top {
    padding: 3em 0.5em 3em;
    height: 100%;
}

#section-top-left {
    width: 12em;
    height: 100%;
    float: left;
}

#advertisement {
    width: 120px;
    float: right;
    height: 100%;
    background: #666;
    overflow: hidden;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
}

#chatbox {
    float: left;
    overflow: hidden;
    height: 100%;
    border-radius: 0.25em;
}

    #chat {
        background: rgb(240,240,240);
        background-image: linear-gradient(top, rgb(220, 220, 220) 0%, rgb(68, 68, 68) 100%);
        background-image: -webkit-linear-gradient(top, rgb(220, 220, 220) 0%, rgb(68, 68, 68) 100%);
        background-image: -moz-linear-gradient(top, rgb(220, 220, 220) 0%, rgb(68, 68, 68) 100%);
        min-height: 100%;
    }

        #chat div {
            padding: 0.5em;
            background: #fff;
        }

        #chat img {
            margin-right: 0.5em;
            border-radius: 0.25em;
            -moz-border-radius: 0.25em;
            vertical-align: middle;
        }
        
        #chat a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }
        
        #chat span a {
            color: #36A3D9;
        }

            #chat div.status {
                background: #fff;
                padding-top: 0;
            }
            
            #chat div.status span {
                display: block;                
                padding: 0.5em;
                background: linear-gradient(top, rgb(204,238,255) 0%, rgb(194,226,242) 100%);
                background: -webkit-linear-gradient(top, rgb(204,238,255) 0%, rgb(194,226,242) 100%);
                background: -moz-linear-gradient(top, rgb(204,238,255) 0%, rgb(194,226,242) 100%);
                box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
                border-radius: 0 0 0.25em 0.25em;
            }
            
            #chat div.personal > a {                
                color: #6ebf1c;
            }

            #chat div.op {
                border-radius: 0.25em 0.25em 0 0;
                background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 100%);
                background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 100%);
                background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 100%);
                border-bottom: 1px solid rgb(220,220,220);
                box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1);
                font-weight: bold;
                margin-top: 0.5em;
            }
            
            #chat div.op:first-child {
                margin-top: 0;
            }

        #chat .bottom {
            background: #ffffff;
            border-radius: 0 0 0.25em 0.25em;
            -moz-border-radius: 0 0 0.25em 0.25em;
            display: block;
/*            margin-bottom: 0.5em;*/
            padding: 0;
            height: 0.5em;
            box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1);
        }
        
#form {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    height: 2.5em;
}

#text {
    outline: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    background: #fff;
    border: none;
    height: 1.5em;
}

.ui-dialog {
    padding: 1em;
    background: #f5f5fff;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(29, 35, 41, 0.6);
    letter-spacing: 0.05em;
}

.ui-dialog-titlebar, .ui-dialog .ui-dialog-content {
    background: none;
    color: #333;    
    border: none;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
    padding-bottom: 0.5em;
}

.ui-dialog .ui-dialog-content {    
    line-height: 1.5em;
    padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    top: 0;
    right: 0;
    margin: 0;
    background: #ddd;
    border-radius: 1em;
    padding: 0.25em;
}

.ui-dialog-content a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
    border: none;
    padding: 0.25em;
}

.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0 0 0.5em;
}

.page {
    display: none;
}

#loading {
    background: #444;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#loading-pulse {
    background: url(/img/logo.png) no-repeat 50% 50%;
    width: 100%;
    height: 100%;
}

#dialog ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#dialog li {
    float: left;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.333em 0.5em 0.167em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
}

#dialog li a {    
    text-decoration: none;
}

/* PHONES AND TABLETS */

@media all and (max-device-width: 481px) {
    body {
        -webkit-text-size-adjust: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    #notice, .toplink, #section-top-left, #button-help, #advertisement {
        display: none;
    }

    #chatbox {
        width: 100%;
        clear: both;        
    }
}

.left {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

.night body {
    background: #000;
}

.night #chat, .night #chat div, .night #users, .night #rooms, .night #text {
    background: #222;
    color: #eee;
}

.night #users div, .night #rooms div, .night #chat div.op {
    border-bottom: 1px solid #444;
}


.night #chat div.op, .night #users div.personal, .night #rooms div.op {
    background-image: linear-gradient(top, #222 0%, #333 100%);
    background-image: -webkit-linear-gradient(top, #222 0%, #333 100%);
    background-image: -moz-linear-gradient(top, #222 0%, #333 100%);
}

.night #chat a, .night #users a, .night #rooms a {
    color: #eee;
}

#logout.ui-state-default {
    min-width: 14.6em;
    z-index: 1000;
    top: 0;
    left: 0;
    position: absolute;
    color: #EDEDED;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.25em 0 0.25em 0.25em;    
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: #444 linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: #444 -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: #444 -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

#logout a {
    display: block;
    background: #444 linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: #444 -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: #444 -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    padding: 0.5em;
}

#bloglist a {
    padding: 0.666em;
    cursor: pointer;
}

#bloglist a:hover {
    color: #fff;
}

#bloglist img, #logout-confirm span {
    margin-right: 0.666em;
}

#logout-confirm {
    border-top: 1px dotted rgba(255, 255, 255, 0.25);
}

#logout-confirm span {
    display: inline-block;
}

.pulldown {
    border-radius: 0.25em 0.25em 0 0;
    border-bottom: 7px solid rgba(0, 0, 0, 0.10);
}

#user-popup {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    z-index: 100;
    background: #fff;
    border-radius: 0.25em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: auto;
    min-width: 24em;
}

#user-popup img {
    width: 64px;
    height: 64px;
    border-radius: 0.25em;
    float: left;
    margin-right: 0.5em;
}

#user-popup a {
    font-size: 1.167em;
    display: block;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.ui-button-icon-only {
    width: 1.333em;
}

#button-logout {
    margin-right: 0.583em;
}

.scrollbox .scrollbar {
    padding: 0.25em;
    display: none;
}

.scrollbox .scrollclick {
    background: #888;
    opacity: 0.333;
    border-radius: 0.25em;
    width: 0.75em;
    cursor: pointer;
}

#tabs {
    float: left;
}

#currentroom {
    color: #333;
    background: #eee;
    background: linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    display: none;
}

#currentroom .ui-icon {
    float: left;
    margin: -0.083em 0.167em 0 -0.333em;
    opacity: 0.75;
}

#currentroom .text {
    font-weight: bold;
}

.ui-widget {
    font-size: 1em;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text, .ui-button-text-only .ui-button-text {
    padding: 0 0 0 1.25em;
    margin-top: -0.083em;
    font-weight: normal;
}    

#button-room {
    display: block;
    width: auto;
    overflow: auto;
    background: #36A3D9;
    padding: 0.5em;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

#button-room span {
    float: left;
    margin: 0 0.5em 0 0;
    height: 17px;
}