html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    font: 12px Arial, sans-serif;
    background: #2c4762 url(/img/logo.png) no-repeat 50% 50%;
}

.error {
    background: #e53f29;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    color: #fff;
    position: absolute;
    width: 50%;
    top: 25%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
}

.error div {
    padding: 1em;
}